* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 20px;
    font-family: sans-serif;
}

h1{
    font-size: 3rem;
}

.game-info{
    /* float: ; */
    position: absolute;
    top: 0;
}

.game-decision{
    margin-bottom: 10px;
}

.game-decision-button{
    padding: 10px;
    border: none;
    background-color: aquamarine;
    font-weight: bold;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.square{
    /* width: 35px; */
    /* height: 35px; */
    border: 1px solid black;
    background-color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.board{
    /* display: flex;
    flex-wrap: wrap;
    width: 105px; */
    display: grid;              
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);    
    gap: 10px;   
}

.status{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 2rem;
}